body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial, sans-serif;
    margin: 0;
}

.signup-container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #4a4a4a;
}

.input-icon {
    position: relative;
    width: 100%;
}

.input-icon i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Space for icon */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.show-password {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    margin: 10px 0;
}

.show-password input {
    margin-right: 5px;
}

.signup-btn {
    background: #191a1a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-link {
    margin-top: 20px;
    color: #4a4a4a;
}

.login-link a {
    color: #16b5c7;
    text-decoration: none;
}
